<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2017 Dmitriy Ponomarenko
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
			 xmlns:tools="http://schemas.android.com/tools"
			 package="com.dimowner.tastycocktails"
		    android:targetSandboxVersion="2"
		    tools:targetApi="27">
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<application
			android:name="com.dimowner.tastycocktails.TCApplication"
			android:allowBackup="false"
			android:icon="@mipmap/tasty_cocktail_logo_new"
			android:label="@string/app_name"
			android:networkSecurityConfig="@xml/network_security_config"
			android:theme="@style/AppTheme"
			tools:ignore="GoogleAppIndexingWarning">

		<activity-alias
				android:name="com.dimowner.tastycocktails.cocktails.Launcher"
				android:targetActivity="com.dimowner.tastycocktails.NavigationActivity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity
				android:name="com.dimowner.tastycocktails.NavigationActivity"
				android:theme="@style/AppTheme.BrandedLaunch">

			<meta-data
					android:name="default-url"
					android:value="https://tasty-cocktails.app/"
					/>

			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data
						android:scheme="https"
						android:host="tasty-cocktails.app"
						android:pathPrefix="/"
						/>
			</intent-filter>
		</activity>

		<activity
				android:name="com.dimowner.tastycocktails.cocktails.details.DetailsActivity"
				android:theme="@style/AppTheme.TransparentStatusBar"/>

		<activity
				android:name="com.dimowner.tastycocktails.cocktails.details.PagerDetailsActivity"
				android:theme="@style/AppTheme.TransparentStatusBar"/>

		<activity
				android:name="com.dimowner.tastycocktails.cocktails.details.PagerDetailsActivity2"
				android:theme="@style/AppTheme.TransparentStatusBar"/>

		<activity android:name="com.dimowner.tastycocktails.cocktails.details.ImagePreviewActivity"
					 android:theme="@style/AppTheme.Transparent"/>

		<activity android:name="com.dimowner.tastycocktails.licences.LicenceActivity"
				android:label="@string/open_source_licences"/>
		<activity android:name="com.dimowner.tastycocktails.licences.LicenceDetail"/>

	    <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a911efb38fc3ed01944c7ea4410acde51d847864" />
    </application>

</manifest>
